body {
    background-color:chocolate;
    color: peru;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(219, 16, 2);
    padding: 20px;
    font-size: 32px;
    color: rgb(219, 16, 2);
}

.chamada {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px; 
}

p {
    font-size: 20px;
}

footer {
    background-color: #222;
    color: rgb(219, 16, 2);
    bottom: 0;
    position: fixed;
    width: 100%;

}

footer p{
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
}